
@font-face {
font-family: 'Helvetica Neue Cyr Thin';
src: url('HelveticaNeueCyr-Thin.eot');
src: url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
url('HelveticaNeueCyr-Thin.woff') format('woff'),
url('HelveticaNeueCyr-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'font7ac1c8f0b974a943aa67859c07f86bd2';
        src:    url('https://nomail.com.ua/files/eot/7ac1c8f0b974a943aa67859c07f86bd2.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/7ac1c8f0b974a943aa67859c07f86bd2.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/7ac1c8f0b974a943aa67859c07f86bd2.woff2') format('woff2');
}

@font-face { font-family: 'HelveticaNeueCyr-Bold';  src: local('HelveticaNeueCyr-Bold'), url('https://nomail.com.ua/files/woff/7ac1c8f0b974a943aa67859c07f86bd2.woff') format('woff');
}

@font-face {
font-family: 'fontcd2355028bca504c63a432c086eceb52';
        src:    url('https://nomail.com.ua/files/eot/cd2355028bca504c63a432c086eceb52.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/cd2355028bca504c63a432c086eceb52.woff2') format('woff2');
}

@font-face { font-family: 'HelveticaNeueCyr-Roman';  src: local('HelveticaNeueCyr-Roman'), url('https://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff') format('woff');
 }

@font-face {
    font-family: HelveticaNeueCyr-Medium; /* Имя шрифта */
    src: url(HelveticaNeueCyr-Medium.otf); /* Путь к файлу со шрифтом */
   }